

.button {
    padding: 20px 50px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: $primary-link;
    background-color: $primary-orange;
    border: none;
    border-radius: 50px;
    box-shadow: 0 9px $primary-gray;
    transition: width 2s ease-in-out;
}

.button:hover {
    color: lighten($primary-link, 50%);
    background-color: darken($primary-orange, 30%);
    width: 110%;
}

.button:active {
    background-color: darken($primary-orange, 30%);
    box-shadow: 0 5px $primary-gray;
    transform: translateY(10px);
}

.gradient-BG {
    background: linear-gradient(45deg, $primary-orange, #f97aab);
    width: 300px;
    height: 300px;
    padding: 20px;
    animation: none;    
}

.gradient-BG:hover {
    background: linear-gradient(45deg, $primary-orange, #f97aab, #5bc7ef, #7be2ca);
    background-size: 400% 400%;
    animation: gradient-transition 15s ease infinite;
}

@keyframes gradient-transition {
    0% {
		background-position: 0% 50%;
	}
    25% {
		background-position: 100% 50%;
	}
	50% {
		background-position: 50% 50%;
	}
	75% {
		background-position: 25% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.sakura-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: fit-content;
}

.sakura-BG, .sakura-top {
    width: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
}

.sakura-top {
    animation: none;
}

.sakura-top:hover {
    animation: rotate 3s linear infinite
}

@keyframes rotate {
    0% {
        transform: rotate(-5deg) translateY(-10%);
    }
    100% {
        transform: rotate(5deg) translateY(10%);
    }
}