

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin horizontal-list {
    @include reset-list;

    li {
        display: inline-block;

        margin: {
            left: -2px;
            right: 2em;
        }
    }
}

nav {
    ul {
        @include horizontal-list;
        text-align: center;
    }

}.container {
    @extend main; 
    column-gap: $base-padding *5;
    margin-bottom: $base-margin;
}

.text-wrapper {
    width: 500px;
}

footer {
    @extend main;
}