@use "sass:math";

// grids

$grid-columns: 12;

// breakpoints

$breakpoint: (
    "xs": 0px,
    "sm": 480px,
    "md": 768px,
    "lg": 960px,
    "xl": 1280px,
);

@mixin xs {
    @media (min-width: map-get($breakpoint, "xs")){
        @content;
    }
}

@mixin sm {
    @media (min-width: map-get($breakpoint, "sm")){
        @content;
    }
}

@mixin md {
    @media (min-width: map-get($breakpoint, "md")){
        @content;
    }
}

@mixin lg {
    @media (min-width: map-get($breakpoint, "lg")){
        @content;
    }
}

@mixin xl {
    @media (min-width: map-get($breakpoint, "xl")){
        @content;
    }
}

@mixin breakpoint($bp: 0) {
    @media (min-width: $bp) {
        @content;
    }
}

%center-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    @extend %center-style;

    row-gap: $base-padding *2;
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin horizontal-list {
    @include reset-list;

    li {
        display: inline-block;

        margin: {
            left: -2px;
            right: 2em;
        }

        @media (max-width: map-get($breakpoint, "sm")) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1em;
        }
    }
}

header {
    @media (max-width: map-get($breakpoint, "sm")) {
        @if map-get($breakpoint, "sm") {
            height: 100vh;
            font-size: 3rem;
        }
    }
}

nav {
    ul {
        @include horizontal-list;
        text-align: center;
    }
}

.container {
    @extend %center-style;

    width: 100%;
    max-width: 1200px;
    margin: o auto;
    padding: 0 20px;
    box-sizing: border-box;

    column-gap: $base-padding * 5;

    @include lg {
        flex-direction: row;
    }

    @include xl {
        flex-direction: row;
    }
}

.ani-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-flow: row wrap;
}


// col

@include xs {
    @for $i from 1 through $grid-columns {
        .col-#{$i}-xs {
            box-sizing: border-box;
            flex-grow: 0;
            width: math.div($i * 100%, $grid-columns);
        }
    }
}

@include sm {
    @for $i from 1 through $grid-columns {
        .col-#{$i}-sm {
            box-sizing: border-box;
            flex-grow: 0;
            width: math.div($i * 100%, $grid-columns);
        }
    }
}

@include md {
    @for $i from 1 through $grid-columns {
        .col-#{$i}-md {
            box-sizing: border-box;
            flex-grow: 0;
            width: math.div($i * 100%, $grid-columns);
        }
    }
}

@include lg {
    @for $i from 1 through $grid-columns {
        .col-#{$i}-lg {
            box-sizing: border-box;
            flex-grow: 0;
            width: math.div($i * 100%, $grid-columns);
        }
    }
}

@include xl {
    .col-3-xl {
        width: 100%; 
    }
}


picture {
    img {
        @include xs {
            width: 300px;
        }

        @include sm {
            width: 400px;
        }

        @include md {
            width: 500px;
        }
    }
}

.text-wrapper {
    @include xs {
        width: 300px;
    }

    @include sm {
        width: 400px;
    }

    @include md {
        width: 500px;
    }
}

footer {
    @extend %center-style;
}